@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(248, 80, 50), rgb(231, 56, 39));
}